@{
    ViewBag.Title = "ウサギの学生";
}
@* This is weird but I will clean it up later! *@
<div class="jumbotron">
    <h1>わたしは。。。</h1>
    <p class="lead">
        こんにちわみんあ!
        <br />
        Hello everyone!
        <br />

        わたしは「Caitlin」けいとりんです。
        <br />
        My name is Caitlin.
        <br />

        日本語を勉強したいです。
        <br />
        I want to learn Japanese.
        <br />

        私はウサギが大好きです!
        <br />
        I love rabbits!
        <br />

        私は今、ひらがなとカタカナを勉強しています。
        <br />
        Right now, I am learning hiragana and katakana.
        <br />

        私は子供の本を読む練習をしています。
        <br />
        I practice by reading children’s books.
        <br />

        私の夢はウサギを千匹飼うことです！
        <br />
        My dream is to keep a thousand rabbits!
        <br /></p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Kana</h2>
        <p>
            Kana examples go here.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Reading List</h2>
        <p>List of what I'm currently watching and reading.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Daily Phrases</h2>
        <p>Little phrases I've learned.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Links</h2>
        <p>Resources?</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>